
@import 'reset';

 // @import url("https://use.typekit.net/bct2pih.css");



// 1920 w by 1080 h tv
// not responsive 

* {
	box-sizing: border-box;
	text-decoration: none;
}

body {
	background: #fff;
	width: 1920px;
	height: 1080px;
	overflow-x: hidden;
	overflow-y: hidden;
}


// home page--------------------------------------------------

.logo{
	display: flex;
	position: absolute;
	width: 100px;
	margin: 50px;
	opacity: 50%;
	display: none; /* erase this */  
	
	img{
		z-index: 1;
		position: relative;
		justify-content: center;
		width: 100%;
		height: 100%;
	}
}

.bigVideo {
	position: absolute;
	width: 100%;
	z-index: 0;
	display: none; /* erase this */  
}


// home page big icon buttons-----------------------------------

.home-bkg{
	background-image: url(../../dist/img/home-bkg.jpg);
	background-repeat: no-repeat;
}

.home-icons{
	display: flex;
	flex-direction: column;
	margin: 100px auto;

	.icon-row{
		display: flex;
		flex-direction: row;
		justify-content: center;

		div.col{
			display: flex;
			flex-direction: column;
			text-align: center;
			padding: 1.4% 4.8%;

			a img{
				padding: 0 30px;
				width: 95%;
			}

			p{
				font-family: mrs-eaves-roman-petite-caps, sans-serif;
				font-style: normal;
				font-weight: 400;
				text-transform: uppercase;
				color: #f4d680;
				padding: 29px 0;
				font-size: 26px;
			}
		}
	}
	

}


// bottom nav icons------------------------------------------

nav{
	position: absolute;
	bottom: 40px;
	display: flex;
	margin-left: 130px;
	
	ul{
		display: flex;
		justify-content: center;

		li{
			font-size: 34px;

			a{
				display: flex;
				justify-content: center;

				figure{

					img{
						width: 53%;
					}
				}
			}


			a{
				color: gray;

				&:active {
					color: #e0586f;
				}
			}
		}
	}

}


//h1 headings----------------------------------

.horses-heading,
.timeline-heading,
.fashion-heading,
.facts-heading,
.rose-heading,
.mint-heading{
	text-align: center;
	display: flex;
	justify-content: center;

	h1{
		font-size: 70px;
		margin-top: 90px;
		color: #f4d680;

	}
}


// slick plugin horses carousel-------------------------------

.horses-bkg{
	// background-image: url(../../dist/img/fact-bkg.jpg);
	// background-repeat: no-repeat;
	background-color: #294596;
}


section.center.slider.slick-initialized.slick-slider{
	width: 90%;
	margin: 80px auto;
	display: flex;

	div{
		justify-content: center;

		img{
			padding-bottom: 40px;
			margin: 0 auto;
		}
	}

	//next button
	button.slick-next.slick-arrow{
		right: 30px;
		top: 240px;
		z-index: 2;

		&::before{
			font-size: 50px;
			color: gray;
		}
	}

	//previous button
	button.slick-prev.slick-arrow{
		left: 10px;
		top: 240px;
		z-index: 2;

		&::before{
			font-size: 50px;
			color: gray;
		}
	}
}


	



// timeline css ---------------------------------------------

.timeline-bkg{
	background-image: url(../../dist/img/timeline-bkg.jpg);
	background-repeat: no-repeat;
}


section.dates.slider.slick-initialized.slick-slider{
	width: 110%;
	margin: 80px auto;

	div{
		justify-content: center;
		display: flex;
		flex-direction: row;

		a{
			font-size: 33px;
			color: #fff;
			padding: 0 30px;
		}			
	}

}


#content{
	margin: auto 480px;
	padding: 45px 0;
	display: flex;
	overflow: hidden;

	li{
		padding: 0 40px;

		img{
			float: left;
			margin: 20px;

		}

		h1{
			margin-top: 20px;
			font-size: 39px;
			font-weight: bold;
			color: #fff;
			letter-spacing: 0.07em;
		}

		p{
			width: 980px;
			padding: 20px 30px 200px 30px;
			line-height: 29px;
			font-size: 28px;
			letter-spacing: 0.08em;
			color: #fff;
		}
	}
}



// section.timeline.slider.slick-initialized.slick-slider{
// 	margin: 70px auto;
// 	display: flex;
// 	justify-content: center;
// 	width: 90%;
// 	overflow: hidden;
// 	position: relative;

// 	#dates {
// 		width: 100%;
// 		height: 40px;
// 		overflow: hidden;
// 	}

// 	#dates li {
// 		list-style: none;
// 		float: left;
// 		width: 0px;
// 		height: 50px;
// 		font-size: 40px;
// 		text-align: center;
// 		padding: 0 120px;
// 	}

// 	#dates a {
// 		line-height: 40px;
// 		padding-bottom: 19px;
// 	}

// 	#dates .selected {
// 	    font-size: 38px;
// 	}

// 	a {
// 		color: black;
// 		text-decoration: none;
// 		-webkit-transition: 0.5s;
// 		-moz-transition: 0.5s;
// 		-o-transition: 0.5s;
// 		-ms-transition: 0.5s;
// 		transition: 0.5s;
// 	}

// 	a:hover,
// 	a.selected {
// 		color: yellow;
// 	}

// 	h1, h2, h4, h5, h6 {
// 		text-align: center;
// 		color: #ccc;
// 		text-shadow: #000 1px 1px 2px;
// 		margin-bottom: 5px;
// 	}

// 	h1 {
// 		font-size: 18px;
// 	}

// 	h2 {
// 		font-size: 14px;
// 	}

// 	.sociales {
// 		text-align: center;
// 		margin-bottom: 20px;
// 	}
// }


// #timeline{

// 	#issues {
// 		overflow: hidden;
// 		height: 600px;
// 	}

// 	#issues li {
// 		width: 1270px;
// 		height: 600px;
// 		list-style: none;
// 		float: left;
// 	}

// 	#issues li.selected img {
// 		-webkit-transform: scale(1.1,1.1);
// 		-moz-transform: scale(1.1,1.1);
// 	    -o-transform: scale(1.1,1.1);
// 	    -ms-transform: scale(1.1,1.1);
// 	    transform: scale(1.1,1.1);
// 	}

// 	#issues li img {
// 		float: left;
// 		width: 460px;
// 		height: 559px;
// 		margin: 0 auto;
// 		background: transparent;     
// 		zoom: 1;
// 		-webkit-transition: all 2s ease-in-out;
// 		-moz-transition: all 2s ease-in-out;
// 		-o-transition: all 2s ease-in-out;
// 		-ms-transition: all 2s ease-in-out; 
// 		transition: all 2s ease-in-out;
// 		-webkit-transform: scale(0.7,0.7);
// 		-moz-transform: scale(0.7,0.7);
// 	    -o-transform: scale(0.7,0.7);
// 	    -ms-transform: scale(0.7,0.7);
// 	    transform: scale(0.7,0.7);
// 	}

// 	#issues li h1 {
// 		color: #ffcc00;
// 		font-size: 68px;
// 		margin: 79px 0 40px 0;
// 		text-align: left;
// 	}

// 	#issues li p {
// 		font-size: 30px;
// 		margin-right: 70px;
// 		font-weight: normal;
// 		line-height: 43px;
// 	}

// }


// slick plugin fashion carousel-------------------------------

.fashion-bkg{
	background-image: url(../../dist/img/fashion-bkg.jpg);
	background-repeat: no-repeat;
}

section.hat.slider.slick-initialized.slick-slider{
	width: 92%;
	margin: 80px auto;
	display: flex;
	justify-content: center;

	div{
		width: 88%;
		justify-content: center;

		img{
			margin: 95px auto;
			padding: 0 10px;
		}
	}

	//next button
	button.slick-next.slick-arrow{
		right: 25px;
		top: 240px;
		z-index: 2;

		&::before{
			font-size: 50px;
			color: gray;
		}
	}

	//previous button
	button.slick-prev.slick-arrow{
		left: 0px;
		top: 240px;
		z-index: 2;

		&::before{
			font-size: 50px;
			color: gray;
		}
	}
}



// slick plugin facts carousel-------------------------------

.facts-bkg{
	// background-image: url(../../dist/img/fact-bkg.jpg);
	// background-repeat: no-repeat;
	background-color: #294596;
}


section.fact.slider.slick-initialized.slick-slider{
	width: 95%;
	margin: 80px auto;
	display: flex;

	div{
		justify-content: center;

		img{
			margin: 80px 210px;
		}
	}

	//next button
	button.slick-next.slick-arrow{
		right: 90px;
		top: 280px;
		z-index: 2;

		&::before{
			font-size: 50px;
			color: gray;
		}
	}

	//previous button
	button.slick-prev.slick-arrow{
		left: 50px;
		top: 280px;
		z-index: 2;

		&::before{
			font-size: 50px;
			color: gray;
		}
	}
}




// garland of roses --------------------------------------

.rose-bkg{
	background-image: url(../../dist/img/rose-bkg.jpg);
	background-repeat: no-repeat;
}

.rose-content{
	width: 88%;
	margin: 30px auto;

	.rose-text-column{
		width: 70%;
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		text-align: center;

		p{
			line-height: 1.3em;
			font-size: 22px;
			padding: 10px 0;
		}
	}

	.h2-dates-and-ps{
		width: 100%;
		display: flex;
		flex-direction: column;
		margin: 40px auto;

		div{
			display: flex;
			justify-content: center;
			text-align: center;
		
			h2{
				font-size: 33px;
				font-weight: bold;
				padding: 0 107px;
			}

			p{	
				width: 280px;
				padding: 10px 20px;
				font-size: 22px;
				line-height: 1.2em;
			}
		}


	}

}

//animation rose container
.falling-rose-container{
	width: 90%;
	height: 100vh;
	bottom: 100px;
	position: absolute;
	overflow: hidden;

	.rose1{
		width: 10%;
		position: absolute;
		top: 80%;
		left: -30px;
	}

	.rose2{
		width: 10%;
		position: absolute;
		top: 92%;
		left: 8%;
	}

	.rose3{
		width: 10%;
		position: absolute;
		top: 71%;
		left: 19%;
	}

	.rose4{
		width: 10%;
		position: absolute;
		top: 83%;
		left: 30%;
	}

	.rose5{
		width: 10%;
		position: absolute;
		top: 70%;
		left: 32%;
	}

	.rose7{
		width: 11%;
		position: absolute;
		top: 76%;
		left: 54%;
	}

	.rose8{
		width: 10%;
		position: absolute;
		top: 76%;
		left: 66%;
	}

	.rose9{
		width: 10%;
		position: absolute;
		top: 92%;
		left: 78%;
	}

	.rose10{
		width: 10%;
		position: absolute;
		top: 73%;
		left: 84%;
	}

	.rose11{
		width: 14%;
		position: absolute;
		top: 80%;
		left: 88%;
	}

	.rose12{
		width: 14%;
		position: absolute;
		top: 90%;
		left: 0%;
	}

	.rose13{
		width: 14%;
		position: absolute;
		top: 76%;
		left: 8%;
	}

	.rose15{
		width: 14%;
		position: absolute;
		top: 89%;
		left: 20%;
	}

	.rose16{
		width: 13%;
		position: absolute;
		top: 75%;
		left: 40%;
	}

	.rose17{
		width: 14%;
		position: absolute;
		top: 88%;
		left: 44%;
	}

	.rose18{
		width: 14%;
		position: absolute;
		top: 80%;
		left: 75%;
	}

	.rose19{
		width: 14%;
		position: absolute;
		top: 72%;
		left: 26%;
	}

	.rose20{
		width: 14%;
		position: absolute;
		top: 88%;
		left: 60%;
	}
}



// mint julep page --------------------------------------

.mint-bkg{
	background-image: url(../../dist/img/mint-bkg.jpg);
	background-repeat: no-repeat;
}

.mint-content{
	width: 77%;
	margin: 80px auto;
	display: flex;
	justify-content: center;

	div{
		display: flex;
		flex-direction: row;
	}

	.mint-cup-animation{
		padding-right: 40px;
	}

	.mint-text-and-recipe{
		display: flex;
		flex-direction: column;

		p{
			font-size: 28px;
			line-height: 1.4em;
			padding-bottom: 20px;
			color: #fff;
			letter-spacing: 0.08em;
		}

	}
}








