
@import 'reset';



// 1920 w by 1080 h tv
// not responsive 

* {
	box-sizing: border-box;
	text-decoration: none;
}

body {
	background: #fff;
	width: 1290px;
	height: 1080px;
	overflow-x: hidden;
	overflow-y: hidden;
}


// home page--------------------------------------------------

.logo{
	display: flex;
	position: absolute;
	width: 100px;
	margin: 50px;
	opacity: 50%;
	display: none; /* erase this */  
	
	img{
		z-index: 1;
		position: relative;
		justify-content: center;
		width: 100%;
		height: 100%;
	}
}

.bigVideo {
	position: absolute;
	width: 100%;
	z-index: 0;
	display: none; /* erase this */  
}


// home page big icon buttons-----------------------------------

.home-boxes{
	display: flex;
	flex-wrap: wrap;
	width: 1260px;
	height: 1020px;
	margin: 50px auto;

	.col{
		margin: 0 auto;

		img{
			
		}
	}

}


// bottom nav icons------------------------------------------

nav{
	width: 90%;
	position: fixed;
	bottom: 45px;
	
	ul{
		display: flex;

		li{
			font-size: 34px;
			text-align: center;

			figure{
				padding: 10px 57px;
			}

			a{
				color: gray;

				&:active {
					color: #e0586f;
				}
			}
		}
	}

}


//h1 headings----------------------------------

.horses-heading,
.timeline-heading,
.fashion-heading,
.facts-heading{
	text-align: center;
	display: flex;
	justify-content: center;

	h1{
		font-size: 70px;
		margin-top: 90px;

	}
}


// slick plugin horses carousel-------------------------------


section.center.slider.slick-initialized.slick-slider{
	width: 90%;
	margin: 80px auto;
	display: flex;

	div{
		justify-content: center;

		img{
			padding-bottom: 40px;
			margin: 0 auto;
		}
	}

	//next button
	button.slick-next.slick-arrow{
		right: 90px;
		top: 240px;
		z-index: 2;

		&::before{
			font-size: 50px;
			color: gray;
		}
	}

	//previous button
	button.slick-prev.slick-arrow{
		left: 50px;
		top: 240px;
		z-index: 2;

		&::before{
			font-size: 50px;
			color: gray;
		}
	}
}


	



// timeline css ---------------------------------------------


section.dates.slider.slick-initialized.slick-slider{
	width: 90%;
	margin: 80px auto;

	div{
		justify-content: center;
		display: flex;
		flex-direction: row;

		a{
			font-size: 33px;
			color: #000;
			padding: 0 30px;
		}			
	}

}


#content{
	margin: auto 200px;
	padding: 45px 0;
	display: flex;
	overflow: hidden;

	li{
		padding: 0 40px;

		img{
			float: left;
			margin: 20px;

		}

		h1{
			margin-top: 20px;
			font-size: 39px;
			font-weight: bold;
		}

		p{
			width: 840px;
			padding: 20px 30px 200px 30px;
			line-height: 29px;
			font-size: 25px;
			orphans: none;
			widows: none;
			hyphens: none;
		}
	}
}



// section.timeline.slider.slick-initialized.slick-slider{
// 	margin: 70px auto;
// 	display: flex;
// 	justify-content: center;
// 	width: 90%;
// 	overflow: hidden;
// 	position: relative;

// 	#dates {
// 		width: 100%;
// 		height: 40px;
// 		overflow: hidden;
// 	}

// 	#dates li {
// 		list-style: none;
// 		float: left;
// 		width: 0px;
// 		height: 50px;
// 		font-size: 40px;
// 		text-align: center;
// 		padding: 0 120px;
// 	}

// 	#dates a {
// 		line-height: 40px;
// 		padding-bottom: 19px;
// 	}

// 	#dates .selected {
// 	    font-size: 38px;
// 	}

// 	a {
// 		color: black;
// 		text-decoration: none;
// 		-webkit-transition: 0.5s;
// 		-moz-transition: 0.5s;
// 		-o-transition: 0.5s;
// 		-ms-transition: 0.5s;
// 		transition: 0.5s;
// 	}

// 	a:hover,
// 	a.selected {
// 		color: yellow;
// 	}

// 	h1, h2, h4, h5, h6 {
// 		text-align: center;
// 		color: #ccc;
// 		text-shadow: #000 1px 1px 2px;
// 		margin-bottom: 5px;
// 	}

// 	h1 {
// 		font-size: 18px;
// 	}

// 	h2 {
// 		font-size: 14px;
// 	}

// 	.sociales {
// 		text-align: center;
// 		margin-bottom: 20px;
// 	}
// }


// #timeline{

// 	#issues {
// 		overflow: hidden;
// 		height: 600px;
// 	}

// 	#issues li {
// 		width: 1270px;
// 		height: 600px;
// 		list-style: none;
// 		float: left;
// 	}

// 	#issues li.selected img {
// 		-webkit-transform: scale(1.1,1.1);
// 		-moz-transform: scale(1.1,1.1);
// 	    -o-transform: scale(1.1,1.1);
// 	    -ms-transform: scale(1.1,1.1);
// 	    transform: scale(1.1,1.1);
// 	}

// 	#issues li img {
// 		float: left;
// 		width: 460px;
// 		height: 559px;
// 		margin: 0 auto;
// 		background: transparent;     
// 		zoom: 1;
// 		-webkit-transition: all 2s ease-in-out;
// 		-moz-transition: all 2s ease-in-out;
// 		-o-transition: all 2s ease-in-out;
// 		-ms-transition: all 2s ease-in-out; 
// 		transition: all 2s ease-in-out;
// 		-webkit-transform: scale(0.7,0.7);
// 		-moz-transform: scale(0.7,0.7);
// 	    -o-transform: scale(0.7,0.7);
// 	    -ms-transform: scale(0.7,0.7);
// 	    transform: scale(0.7,0.7);
// 	}

// 	#issues li h1 {
// 		color: #ffcc00;
// 		font-size: 68px;
// 		margin: 79px 0 40px 0;
// 		text-align: left;
// 	}

// 	#issues li p {
// 		font-size: 30px;
// 		margin-right: 70px;
// 		font-weight: normal;
// 		line-height: 43px;
// 	}

// }



// slick plugin facts carousel-------------------------------


section.fact.slider.slick-initialized.slick-slider{
	width: 95%;
	margin: 80px auto;
	display: flex;

	div{
		justify-content: center;

		img{
			margin: 80px 210px;
		}
	}

	//next button
	button.slick-next.slick-arrow{
		right: 90px;
		top: 240px;
		z-index: 2;

		&::before{
			font-size: 50px;
			color: gray;
		}
	}

	//previous button
	button.slick-prev.slick-arrow{
		left: 50px;
		top: 240px;
		z-index: 2;

		&::before{
			font-size: 50px;
			color: gray;
		}
	}
}


// slick plugin fashion carousel-------------------------------

section.hat.slider.slick-initialized.slick-slider{
	width: 92%;
	margin: 80px auto;
	display: flex;
	justify-content: center;

	div{
		width: 88%;
		justify-content: center;

		img{
			margin: 95px auto;
			padding: 0 10px;
		}
	}

	//next button
	button.slick-next.slick-arrow{
		right: 25px;
		top: 240px;
		z-index: 2;

		&::before{
			font-size: 50px;
			color: gray;
		}
	}

	//previous button
	button.slick-prev.slick-arrow{
		left: 0px;
		top: 240px;
		z-index: 2;

		&::before{
			font-size: 50px;
			color: gray;
		}
	}
}



